In [7]:
import numpy as np
import pandas as pd
import random

Excersice1 = pd.DataFrame(columns=['id', 'Name', 'Diet', 'Pulse', 'Time', 'Kind'])
Excersice1['id']= range(15)
Excersice1['Name']= ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C', 'D', 'D', 'D', 'E', 'E', 'E']
Excersice1['Diet']= ['Low Fat', 'Low Fat', 'No Fat', 'No Fat', 'No Fat', 'Low Fat', 'Low Fat', 'Low Fat', 'Low Fat', 'Low Fat', 'Low Fat', 'Low Fat', 'No Fat', 'Low Fat', 'Low Fat']
Excersice1['Pulse']= [85,85,88,90,92,93,97,97,94,80,82,83,91,92,91]
Excersice1['Time']= [40,45,30,10,15,30,15,15,30,10,15,30,10,15,30]
Excersice1['Kind']= ['Walking', 'Walking', 'Running', 'Walking', 'Rest', 'Rest', 'Rest', 'Rest', 'Walking', 'Walking', 'Rest', 'Rest', 'Rest', 'Running','Running']

Excersice1

    id Name     Diet  Pulse  Time     Kind
0    0    A  Low Fat     85    40  Walking
1    1    A  Low Fat     85    45  Walking
2    2    A   No Fat     88    30  Running
3    3    B   No Fat     90    10  Walking
4    4    B   No Fat     92    15     Rest
5    5    B  Low Fat     93    30     Rest
6    6    C  Low Fat     97    15     Rest
7    7    C  Low Fat     97    15     Rest
8    8    C  Low Fat     94    30  Walking
9    9    D  Low Fat     80    10  Walking
10  10    D  Low Fat     82    15     Rest
11  11    D  Low Fat     83    30     Rest
12  12    E   No Fat     91    10     Rest
13  13    E  Low Fat     92    15  Running
14  14    E  Low Fat     91    30  Running

In [23]:
selected=Excersice1.set_index(['Name','Diet']).copy()
selected.groupby(level=0).max()

              id  Pulse  Time     Kind
Name Diet
A    Low Fat   0     85    40  Walking
     Low Fat   1     85    45  Walking
     No Fat    2     88    30  Running
B    No Fat    3     90    10  Walking
     No Fat    4     92    15     Rest
     Low Fat   5     93    30     Rest
C    Low Fat   6     97    15     Rest
     Low Fat   7     97    15     Rest
     Low Fat   8     94    30  Walking
D    Low Fat   9     80    10  Walking
     Low Fat  10     82    15     Rest
     Low Fat  11     83    30     Rest
E    No Fat   12     91    10     Rest
     Low Fat  13     92    15  Running
     Low Fat  14     91    30  Running

      id  Pulse  Time     Kind
Name
A      2     88    45  Walking
B      5     93    30  Walking
C      8     97    30  Walking
D     11     83    30  Walking
E     14     92    30  Running

In [49]:
count=selected.loc[(['A','B'], "Low Fat"),: ]
print("The number of people with the Low Fat and category A or category B are: ",len(count))

sort=selected.sort_index(level="Diet")
print(sort)

The number of people with the Low Fat and category A or category B are:  3
              id  Pulse  Time     Kind
Name Diet
A    Low Fat   0     85    40  Walking
     Low Fat   1     85    45  Walking
B    Low Fat   5     93    30     Rest
C    Low Fat   6     97    15     Rest
     Low Fat   7     97    15     Rest
     Low Fat   8     94    30  Walking
D    Low Fat   9     80    10  Walking
     Low Fat  10     82    15     Rest
     Low Fat  11     83    30     Rest
E    Low Fat  13     92    15  Running
     Low Fat  14     91    30  Running
A    No Fat    2     88    30  Running
B    No Fat    3     90    10  Walking
     No Fat    4     92    15     Rest
E    No Fat   12     91    10     Rest